@import url("colors.css");
@import url("fonts.css");
/* Start Global Rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: var(--text-color);
}

html {
    /* font-family: "Gilroy", sans-serif; */
    font-family: "Gilroy";
    /*to make 1rem = 10px */
    font-size: 62.5%;
}

.container {
    padding-inline: 250px;
    margin: 0 auto;
    max-width: 1600px;
}

.button {
    background-color: var(--button-bg);
    color: var(--button-text);
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.title {
    color: hsl(0, 90%, 63%);
    text-transform: uppercase;
    font-size: 1rem;
    word-spacing: 5px;
    font-weight: bold;
    margin-block-end: 2rem;
    letter-spacing: 1.5px;
}

.text-medium {
    max-width: 30ch;
    font-weight: bold;
    font-size: 3rem;
}

.text-small {
    opacity: 0.5;
    line-height: 1.5;
    font-size: 1.5rem;
    max-width: 50ch;
}

a {
    transition: color 0.5s linear;
}

a:hover {
    color: var(--button-bg);
    font-weight: bold;
}

/* End Global Rules */
/* Start Header */
header {
    font-size: 1.5rem;
    padding: 1.5rem;
    background: url(../assets/images/bg-header.svg) no-repeat center center/cover;
}

header nav {
    display: flex;
    justify-content: space-around;
    margin-block-end: 7em;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 4em;
}

@media (max-width: 768px) {
    header ul li:not(:first-child) {
        display: none;
    }

    .container {
        padding-inline: 50px;
    }
}

header nav ul li:first-child {
    font-family: "Rubik-Bold";
    font-size: 2em;
}

header #intro {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 10em;
    margin-block-end: 5em;
}

header #intro div {
    padding-block: 5em;
}

header #intro div p:nth-child(2) {
    font-size: 2.9em;
    margin-block: 0.7em;
    font-weight: bold;
}

header #intro div p:nth-child(3) {
    opacity: 0.6;
    font-size: 1.1em;
    line-height: 1.7em;
    margin-block-end: 2.7em;
}

/* End Header */

/* Start Services */
#services {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 10rem;
    text-align: center;
}

#services .service-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2em;
    row-gap: 4em;
    margin-block: 10em 15em;
}

.service-list .service-item {
    width: 300px;
    padding: 2em;
}

.service-list .service-item * {
    color: #FFFFFF;
}

.cover {
    width: 50%;
    height: 50%;
}

.service-list .service-item h3 {
    margin-block: 2em 1em;
    font-size: 1.7em;
}

.service-list .service-item p {
    font-size: 1em;
    line-height: 2;
    opacity: 0.5;
    margin-block-end: 3em;
}

.wrapper img {
    width: 10px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.service-list .service-item:nth-child(1) {
    background-color: hsl(136, 56%, 62%);
}

.service-list .service-item:nth-child(2) {
    background-color: hsl(244, 86%, 59%);
}

.service-list .service-item:nth-child(3) {
    background-color: hsl(0, 90%, 63%);
    position: relative;
}

.service-list .service-item:nth-child(3)::after {
    content: "";
    width: 185px;
    height: 85px;
    background: url(../assets/images/services-list.svg) no-repeat center center;
    background-size: cover;
    position: absolute;
    bottom: -40px;
    right: -65px;
    z-index: -1;
}

#services .review {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#services .review div {
    text-align: start;
}

#services .review>img {
    width: 150px;
}

#services .review div img {
    width: 100px;
    margin-block-end: 20px;
}

#services .review div p {
    font-size: 2.4em;
    max-width: 750px;
    font-weight: bold;
    margin-block-end: 1em;
}

#services .review div strong {
    margin-inline-end: -10px;
}

#services .review div span {
    opacity: 0.7;
}

/* End Services */

/* Start Story */
#story {
    margin-block: 10rem;
}

#story .grid {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    grid-template-rows: repeat(12, 50px);
    column-gap: 100px;
    margin-block: 3em;
}

@media (max-width: 1200px) {
    #story .grid {
        grid-template-rows: repeat(12, 35px);
        column-gap: 20px;
    }
}

#story .grid>:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 2 / -1;
}

#story .grid>:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 6;
}

#story .grid>:nth-child(3) {
    grid-column: 3 / -1;
    grid-row: 3 / 5;
}

#story .grid>:nth-child(4) {
    grid-column: 2 / -1;
    grid-row: 8 / 10;
    font-size: 1.5em;
    line-height: 1.5;
    opacity: 0.5;
    max-width: 50ch;
}

#story .grid>* {
    width: 100%;
}

#story .ratios {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 3em;
    margin-block-start: 4em;
    column-gap: 50px;
}

#story .ratios div p {
    font-size: 0.5em;
}

/* End Story */

/* Start why-us */
#why-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: hsl(210, 37%, 97%);
    position: relative;
    padding-block: 10rem;
}

#why-us::before {
    content: "";
    background: url(../assets/images/why-us/bg.svg) no-repeat center center;
    background-size: contain;
    position: absolute;
    left: -15px;
    top: 125px;
    width: 100px;
    height: 100px;
}

#why-us .grid-why-us {
    margin-block-start: 5em;
    padding-block-end: 10em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 7em;
    text-align: start;
    border-block-end: #00000030 1px solid;
}

#why-us .grid-why-us>div {
    display: flex;
    align-items: flex-start;
}

#why-us .grid-why-us img {
    width: 100px;
    margin-inline-end: 20px;
}

#why-us .grid-why-us h3 {
    font-size: 2.5em;
    margin-block-end: 1em;
}

#why-us>div:last-child {
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: start;
    margin-block-start: 10em;
    align-items: center;
}

#why-us>div:last-child h2 {
    margin-block-end: 0.5em;
}

/* End why-us */
/* Start case-studies */
#case-studies {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 10rem;
    font-size: 1.8rem;
}

#case-studies>* {
    text-align: center;
}

#case-studies .wrapper a {
    color: hsl(244, 86%, 59%);
    font-weight: bold;
}

#case-studies .wrapper img {
    width: 17px;
}

#case-studies .grid-case-studies h3 {
    font-weight: normal;
}

#case-studies .grid-case-studies {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px repeat(5, 75px) 250px;
    column-gap: 35px;
    text-align: start;
    margin-block: 5em 10em;
}

#case-studies .grid-case-studies>div:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 5;
}

#case-studies .grid-case-studies>div:nth-child(2) {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
}

#case-studies .grid-case-studies>div:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 6 / -1;
}

#case-studies .grid-case-studies>div:nth-child(4) {
    grid-column: 2 / -1;
    grid-row: 4 / -1;
}

#case-studies .grid-case-studies>div {
    width: 100%;
}

#case-studies .grid-case-studies img {
    width: 100%;
}

/* End case-studies */
/* Start testimonial */
#testimonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-block: 10rem;
    row-gap: 3em;
    background: url(../assets/images/footer/BG.svg) no-repeat center center/cover;
}

#testimonial * {
    color: hsl(0, 0%, 100%);
    opacity: 1;
}

#testimonial span.text-small {
    opacity: 0.5;
}

#testimonial div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background-color: hsl(224, 34%, 13%);
    padding-block: 15em;
}

footer * {
    color: hsl(0, 0%, 100%);
}

footer .first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block-end: 10em;
    border-bottom: 1px solid hsl(0deg 0% 100% / 10%);
}

footer .first h2 {
    margin-block-end: 0.5em;
}

footer .links {
    display: flex;
    justify-content: space-between;
    column-gap: 3em;
    margin-block-start: 10em;
}

footer .links>div {
    display: flex;
    flex-direction: column;
    row-gap: 5em;
}

footer .text-small {
    font-weight: normal;
}

footer .brainwave .text-small {
    max-width: 30ch;
}

footer .links ul {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    font-size: 1.5rem;
}

footer .links .icons {
    display: flex;
    column-gap: 2em;
}

footer .links .icons img {
    width: 30px;
}

/* End testimonial */