<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template1 | Page1</title>
    <link rel="stylesheet" href="styles/main.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Brainwave.io</a></li>
                <li><a href="#">Demos</a></li>
                <li><a href="#">Pages</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <button class="button">Get started a project</button>
        </nav>

        <div class="container">
            <section id="intro">
                <div>
                    <h2 class="title">Let’s shift your business</h2>
                    <p>Shift your business fast with Shade Pro.</p>
                    <p>With lots of unique blocks, you can easily build a page without coding. Build your next
                        consultancy website within few
                        minutes.</p>
                    <button class="button">Get started a project</button>
                </div>
                <img src="assets/images/image-header.svg" alt="girl" width="100%">
            </section>
        </div>
    </header>
    <main>
        <div class="container">
            <section id="services">
                <h2 class="title">Our Services</h2>
                <p class="text-medium ">We provide great services for our customers based on needs.</p>
                <div class="service-list">
                    <div class="service-item">
                        <img class="cover" src="assets/images/service-item/Designer-rafiki.svg" alt="">
                        <h3>Graphic Design</h3>
                        <p>With lots of unique blocks, you can easily build a page without coding. Build your next
                            landing page.</p>
                        <div class="wrapper">
                            <a href="#">Learn more</a>
                            <img src="assets/images/buttons/tail-right.svg" alt="">
                        </div>
                    </div>
                    <div class="service-item">
                        <img class="cover" src="assets/images/service-item/Programming-rafiki.svg" alt="">
                        <h3>Web Development</h3>
                        <p>With lots of unique blocks, you can easily build a page without coding. Build your next
                            landing page.</p>
                        <div class="wrapper">
                            <a href="#">Learn more</a>
                            <img src="assets/images/buttons/tail-right.svg" alt="">
                        </div>
                    </div>
                    <div class="service-item">
                        <img class="cover" src="assets/images/service-item/Notes-rafiki.svg" alt="">
                        <h3>Content Writing</h3>
                        <p>With lots of unique blocks, you can easily build a page without coding. Build your next
                            landing page. </p>
                        <div class="wrapper">
                            <a href="#">Learn more</a>
                            <img src="assets/images/buttons/tail-right.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="review">
                    <img src="assets/images/review/Oval.svg" alt="">
                    <div>
                        <img src="assets/images/review/Stars.svg" alt="">
                        <p>“OMG! I cannot believe that I have got a brand new landing page after getting Albino. It was
                            super easy to edit and
                            publish.”</p>
                        <strong>Franklin Hicks</strong>
                        <span>Web Developer</span>
                    </div>
                </div>
            </section>
            <hr style="opacity: 0.5;">
            <section id="story">
                <h2 class="title">Our Story</h2>
                <p class="text-medium">We know how everything works and why your business is failing over and
                    over
                    again.</p>
                <div class="grid">
                    <img src="assets/images/story/1.svg" alt="">
                    <img src="assets/images/story/2.svg" alt="">
                    <img src="assets/images/story/3.svg" alt="">
                    <p>We share common trends and strategies for improving your rental income and making sure you stay
                        in high demand. With
                        lots of unique blocks, you can easily build a page without coding. Build your next landing page.
                    </p>
                </div>
                <div class="ratios">
                    <div>
                        <h3>1M+</h3>
                        <p>Customers visit Omega every month to get their service done.</p>
                    </div>
                    <div>
                        <h3>92%</h3>
                        <p>Satisfaction rate comes from our awesome customers.</p>
                    </div>
                    <div>
                        <h3>4.9/5.0</h3>
                        <p>Average customer ratings we have got all over internet.</p>
                    </div>
                </div>
            </section>
        </div>
        <section id="why-us" class="container">
            <h2 class="title">Why choose us</h2>
            <p class="text-medium">People choose us because we serve the best for everyone</p>
            <div class="grid-why-us">
                <div>
                    <img src="assets/images/why-us/Icon-1.svg" alt="">
                    <div>
                        <h3>Dedicated project manager</h3>
                        <p class="text-small">With lots of unique blocks, you can easily build a page without coding.
                            Build your next
                            landing page.</p>
                    </div>
                </div>
                <div>
                    <img src="assets/images/why-us/Icon-2.svg" alt="">
                    <div>
                        <h3>Organized tasks</h3>
                        <p class="text-small">With lots of unique blocks, you can easily build a page without coding.
                            Build your next
                            landing page.</p>
                    </div>
                </div>
                <div>
                    <img src="assets/images/why-us/Icon-3.svg" alt="">
                    <div>
                        <h3>Easy feedback sharing</h3>
                        <p class="text-small">With lots of unique blocks, you can easily build a page without coding.
                            Build your next
                            landing page.</p>
                    </div>
                </div>
                <div>
                    <img src="assets/images/why-us/Icon-4.svg" alt="">
                    <div>
                        <h3>Never miss deadline</h3>
                        <p class="text-small">With lots of unique blocks, you can easily build a page without coding.
                            Build your next
                            landing page.</p>
                    </div>
                </div>
            </div>

            <div>
                <div>
                    <h2 class="text-medium">Ready to launch your next project?</h2>
                    <p class="text-small">With lots of unique blocks, you can easily build a page without coding.
                        Build
                        your next landing
                        page.</p>
                </div>
                <button class="button">Get started a project</button>
            </div>
        </section>
        <section id="case-studies" class="container">
            <h2 class="title">Case Studies</h2>
            <p class="text-medium">Our works describe why we are the best in the business</p>
            <div class="grid-case-studies">
                <div>
                    <img src="assets/images/case-studies/Img-1.svg" alt="Img-1">
                    <h3 class="text-small">Graphic Design</h3>
                    <h4 class="text-medium">Aura Branding Design</h4>
                </div>
                <div>
                    <img src="assets/images/case-studies/Img-2.svg" alt="Img-2">
                    <h3 class="text-small">Graphic Design</h3>
                    <h4 class="text-medium">AB.S Snack Packaging</h4>
                </div>
                <div>
                    <img src="assets/images/case-studies/Img-3.svg" alt="Img-3">
                    <h3 class="text-small">Web Development</h3>
                    <h4 class="text-medium">Gradient Website Development</h4>
                </div>
                <div>
                    <img src="assets/images/case-studies/Img-4.svg" alt="Img-4">
                    <h3 class="text-small">Content Writing</h3>
                    <h4 class="text-medium">Magazine Content Writing</h4>
                </div>
            </div>
            <div class="wrapper">
                <a href="#">See all works</a>
                <img src="assets/images/case-studies/tail-right.svg" alt="arrow">
            </div>
        </section>
        <section id="testimonial">
            <div class="container">
                <h2 class="title">Testimonials</h2>
                <p class="text-medium">“Simply the best. Better than all the rest. I’d recommend this product to
                    beginners
                    and advanced users.”</p>
                <div><img src="assets/images/footer/Oval.svg" alt="profile">
                    <strong class="text-small">Ian Klein</strong>
                    <span class="text-small">Digital Marketer</span>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <div>
                <div class="first">
                    <div>
                        <h2 class="text-medium">Ready to launch your next project?</h2>
                        <p class="text-small">With lots of unique blocks, you can easily build a page without coding.
                            Build
                            your next landing
                            page.</p>
                    </div>
                    <button class="button">Get started a project</button>
                </div>
                <div class="links">
                    <div class="brainwave">
                        <h2 class="text-medium">Brainwave.io</h2>
                        <p class="text-small">With lots of unique blocks, you can easily build a page without coding.
                            Build your next landing page.</p>
                        <div class="icons">
                            <a href="#"><img src="assets/images/footer/twitter.svg" alt="twitter"></a>
                            <a href="#"><img src="assets/images/footer/facebook.svg" alt="facebook"></a>
                            <a href="#"><img src="assets/images/footer/instagram.svg" alt="instagram"></a>
                            <a href="#"><img src="assets/images/footer/linkedin.svg" alt="linkedin"></a>
                        </div>
                    </div>
                    <div class="company">
                        <h2 class="text-small">Company</h2>
                        <ul>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Press</a></li>
                        </ul>
                    </div>
                    <div class="product">
                        <h2 class="text-small">Product</h2>
                        <ul>
                            <li><a href="#">Features</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">News</a></li>
                            <li><a href="#">Help desk</a></li>
                            <li><a href="#">Support</a></li>
                        </ul>
                    </div>
                    <div class="services">
                        <h2 class="text-small">Services</h2>
                        <ul>
                            <li><a href="#">Digital Marketing</a></li>
                            <li><a href="#">Content Writing</a></li>
                            <li><a href="#">SEO for Business</a></li>
                            <li><a href="#">UI Design</a></li>
                        </ul>
                    </div>
                    <div class="legal">
                        <h2 class="text-small">Legal</h2>
                        <ul>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Return Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>