<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template1 | Page1</title>
    <link rel="stylesheet" href="styles/main.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Brainwave.io</a></li>
                <li><a href="#">Demos</a></li>
                <li><a href="#">Pages</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <button class="button">Get started a project</button>
        </nav>

        <div class="container">
            <section id="intro">
                <div>
                    <h2 class="title">Let’s shift your business</h2>
                    <p>Shift your business fast with Shade Pro.</p>
                    <p>With lots of unique blocks, you can easily build a page without coding. Build your next
                        consultancy website within few
                        minutes.</p>
                    <button class="button">Get started a project</button>
                </div>
                <img src="assets/images/image-header.svg" alt="girl" width="100%">
            </section>
        </div>
    </header>
    <main>
        <div class="container">
            <section id="services">
                <h2 class="title">Our Services</h2>
                <p class="text-medium ">We provide great services for our customers based on needs.</p>
                <div class="service-list">
                    <div class="service-item">
                        <img class="cover" src="assets/images/service-item/Designer-rafiki.svg" alt="">
                        <h3>Graphic Design</h3>
                        <p>With lots of unique blocks, you can easily build a page without coding. Build your next
                            landing page.</p>
                        <div class="wrapper">
                            <a href="#">Learn more</a>
                            <img src="assets/images/buttons/tail-right.svg" alt="">
                        </div>
                    </div>
                    <div class="service-item">
                        <img class="cover" src="assets/images/service-item/Programming-rafiki.svg" alt="">
                        <h3>Web Development</h3>
                        <p>With lots of unique blocks, you can easily build a page without coding. Build your next
                            landing page.</p>
                        <div class="wrapper">
                            <a href="#">Learn more</a>
                            <img src="assets/images/buttons/tail-right.svg" alt="">
                        </div>
                    </div>
                    <div class="service-item">
                        <img class="cover" src="assets/images/service-item/Notes-rafiki.svg" alt="">
                        <h3>Content Writing</h3>
                        <p>With lots of unique blocks, you can easily build a page without coding. Build your next
                            landing page. </p>
                        <div class="wrapper">
                            <a href="#">Learn more</a>
                            <img src="assets/images/buttons/tail-right.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="review">
                    <img src="assets/images/review/Oval.svg" alt="">
                    <div>
                        <img src="assets/images/review/Stars.svg" alt="">
                        <p>“OMG! I cannot believe that I have got a brand new landing page after getting Albino. It was
                            super easy to edit and
                            publish.”</p>
                        <strong>Franklin Hicks</strong>
                        <span>Web Developer</span>
                    </div>
                </div>
            </section>
            <hr style="opacity: 0.5;">
            <section id="story">
                <h2 class="title">Our Story</h2>
                <p class="text-medium">We know how everything works and why your business is failing over and over
                    again.</p>
                <div class="grid">
                    <img src="assets/images/story/1.svg" alt="">
                    <img src="assets/images/story/2.svg" alt="">
                    <img src="assets/images/story/3.svg" alt="">
                    <p>We share common trends and strategies for improving your rental income and making sure you stay
                        in high demand. With
                        lots of unique blocks, you can easily build a page without coding. Build your next landing page.
                    </p>
                </div>
                <div class="ratios">
                    <div>
                        <h3>1M+</h3>
                        <p>Customers visit Omega every month to get their service done.</p>
                    </div>
                    <div>
                        <h3>92%</h3>
                        <p>Satisfaction rate comes from our awesome customers.</p>
                    </div>
                    <div>
                        <h3>4.9/5.0</h3>
                        <p>Average customer ratings we have got all over internet.</p>
                    </div>
                </div>
            </section>
            <section id="why-us">
                
            </section>
        </div>
    </main>
    <footer>

    </footer>
</body>

</html>