@font-face {
    font-family: 'CustomFont';
    src: url("assets/fonts/Roboto/static/Roboto-Regular.ttf") format('truetype');
    font-weight: 800;
    font-style: italic;
    font-weight: 800;
    font-style: italic;
}

.in {
    color: red;
    font-size: 20px;
    font-weight: 800;
    font-style: italic;
}